@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus-visible:outline-white;
  }

  body {
    @apply font-display text-white bg-gray-dark antialiased;
  }

  .text-heading1 {
    @apply text-[34px] md:text-5xl font-black;
  }

  .text-heading2 {
    @apply text-4xl md:text-[43px] lg:text-5xl;
  }

  .text-heading3 {
    @apply text-[21px] lg:text-[33px];
  }

  .text-heading4 {
    @apply text-2xl md:text-[19px] lg:text-2xl font-bold leading-tight;
  }

  .text-heading5 {
    @apply text-xs lg:text-lg font-bold text-teal uppercase tracking-[3px];
  }

  .hex-dot-group .carousel__dot {
    width: 12px;
    height: 12px;
    background: center / contain no-repeat url('@/images/hex-filled.svg');

    &:not(.carousel__dot--selected) {
      filter: grayscale(1) opacity(0.3) brightness(1.2);
    }
  }
}

@layer components {
  .button {
    @apply px-7 py-1.5 text-white text-base text-center font-medium bg-orange hover:bg-opacity-50 disabled:bg-opacity-100 border border-orange rounded-lg whitespace-nowrap disabled:opacity-50;
  }

  .button-sm {
    @apply py-1 text-sm rounded;
  }

  .button-lg {
    @apply px-10 py-2 text-lg;
  }

  .button-teal {
    @apply bg-teal border-teal;
  }

  .button-outline {
    @apply bg-opacity-0 disabled:bg-opacity-0;
  }
}

@layer utilities {
  .container {
    @apply mx-auto md:px-12 px-6;
  }

  @variants responsive {
    .corners {
      background: left top no-repeat url('@/images/corner-tl.svg'),
        right top no-repeat url('@/images/corner-tr.svg'),
        left bottom no-repeat url('@/images/corner-bl.svg'),
        right bottom no-repeat url('@/images/corner-br.svg');
    }

    .corners-orange {
      filter: hue-rotate(185deg) saturate(1.5);
    }

    .no-corners {
      background-image: none;
    }
  }

  .both-span-full {
    @apply col-span-full row-span-full;
  }

  .text-stroke {
    --stroke-width: 1px;
    color: theme('colors.gray.dark');
    text-shadow: var(--stroke-width) 0 0 var(--stroke-color),
      calc(var(--stroke-width) * -1) 0 0 var(--stroke-color),
      0 var(--stroke-width) 0 var(--stroke-color),
      0 calc(var(--stroke-width) * -1) 0 var(--stroke-color);
  }

  .text-stroke-white {
    @apply text-stroke;
    --stroke-color: theme('colors.white');
  }

  .text-stroke-orange {
    @apply text-stroke;
    --stroke-color: theme('colors.orange');
  }

  .cms-strong-orange strong {
    @apply text-orange whitespace-nowrap;
    font-weight: inherit;
  }

  .cms-strong-teal strong {
    @apply text-teal whitespace-nowrap;
    font-weight: inherit;
  }

  .snap-x {
    scroll-snap-type: x proximity;
  }

  .snap-start {
    scroll-snap-align: start;
  }

  .shadow-teal {
    box-shadow: 0px 4px 64px rgba(0, 180, 180, 0.25);
  }
}

.carousel__slide-focus-ring {
  @apply !outline-white;
}
